body{
    background-color: black;
    color: lightgreen;
}

nav{
    
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);


}



.navbar-light .navbar-brand {
    color: lightgreen !important; 
    text-shadow: blue !important;
}
nav{
    text-shadow: lightgreen;
    text-align: right;
    position: fixed;
}


#jumbocontainer{
    margin-top: 16rem;
    margin-bottom: 16rem;
    
    border: 3px solid transparent;
    border-width: 5px;
    

}
/* #jumbocontainer{
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-shadow: #233329;
} */

#about{
    margin-top: 10rem;
    font-size: larger;
    margin-bottom: 12rem;
}
 /* .container, h2{
font-size: 50px ;
 } */

 #projects{
     text-align: center;
 }
 
 .btnbtn-primary{
     background-color: black;
 }