body{
    background-color: black;
    color: lightgreen;
}

nav{
    
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);


}



.navbar-light .navbar-brand {
    color: lightgreen !important; 
    text-shadow: blue !important;
}
nav{
    text-shadow: lightgreen;
    text-align: right;
}

h1{
    margin-top: 7rem;
    text-shadow: #233329;
}

#about{
    margin-top: 10rem;
}
 /* .container, h2{
font-size: 50px ;
 } */